<style>
  section:hover{
    -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
  }
</style>

<main style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center">
  <div style="width: 40%;padding: 10px">
    <label>Search for Customer: </label>
    <input type="text" [(ngModel)]="term">
    <h1>Customers ♚</h1>
    <section *ngFor="let Result of data.Results |filter:term | paginate: { itemsPerPage: 5, currentPage: p }; let i = index"
      style="background: honeydew">
      <div style="padding: 10px">
        <h1>Name: {{Result.ContactName}}</h1>
        <div>ID: {{Result.Id}}</div>
        <div>CompanyName: {{Result.CompanyName}}</div>
        <div>Address: {{Result.Address}}</div>
        <div>City: {{Result.City}}</div>
        <div>Phone: {{Result.Phone}}</div>
        <div>Fax: {{Result.Fax}}</div>
        <div>PostalCode: {{Result.PostalCode}}</div>
      </div>
      <hr>
    </section>

  </div>

  <div style="width: 40%; padding: 10px">
    <label>Search for Orders: </label>
    <input type="text" [(ngModel)]="Order">
    <h1>Orders ✎</h1>
    <section *ngFor="let Result of order.Results |filter:Order  | paginate: { itemsPerPage: 5, currentPage: p }; let i = index"
      style=" background: pink">
      <div style="padding: 10px">
        <h1>Customer ID: {{Result.CustomerId}}</h1>
        <div>EmployeeId: {{Result.EmployeeId}}</div>
        <div>Freight: {{Result.Freight}}</div>
        <div>ID: {{Result.Id}}</div>
        <div>OrderDate: {{Result.OrderDate}}</div>
        <div>RequiredDate: {{Result.RequiredDate}}</div>
        <div>ShipAddress: {{Result.ShipAddress}}</div>
        <div>ShipName: {{Result.ShipName}}</div>
      </div>
      <hr>
    </section>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</main>
